body {
  background-image: url(https://img.freepik.com/free-vector/topographic-contour-lines-map-seamless-pattern_1284-52862.jpg?w=826&t=st=1680789649~exp=1680790249~hmac=fca819ee293d45ce3f9192f665b0843f6a27a67ec9a8878ec1e30e4584e4381d);
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

form {
  text-align: center;
  border: 5px solid #ffc300;
  margin: 20%;
  border-radius: 10%;
  background-color: #003566;
  color: #ffc300;
}

.input-section {
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  padding: 3%;
}

ol {
  align-items: center;
  padding-left: 0;
}

li {
  text-align: right;
  /* padding-left: 5px; */
  margin: 0 20% 0 20%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.input-section input {
  width: 70%;
  justify-self: center;
}

.input-section button {
  margin-top: 5%;
  width: fit-content;
  justify-self: center;
}

li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: red;
  display: flex;
  flex-direction: row-reverse;
}

button {
  font-family: "Bebas Neue", cursive;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  color: #ffc300;
  background-color: black;
}

.delete {
  margin-bottom: 5%;
}

.delete:hover {
  color: black;
  background-color: #ffd60a;
}
